html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #ece8e5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: #4b4b4b;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
