.main {
  padding: 6rem;
}

.nav {
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.navLink:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  gap: 2rem;
  width: 100%;
  max-width: 800px;
  margin: auto;
  height: 500px;
  padding: 2rem;
  position: relative;
}

.rectangle {
  background-color: #9b7374;
  width: 600px;
  height: 300px;
  border-radius: 0.5rem;
  opacity: 70%;
  transition: all 0.3s ease;
  position: absolute;
  z-index: 3;
}

.container:hover .rectangle {
  height: 70px;
}

.paragraph {
  font-size: 3rem;
  font-weight: 800;
  position: relative;
  margin: 0;
}

.textContainer {
  align-self: flex-end;
  margin-bottom: 4rem;
}

.description {
  font-size: 1rem;
  font-weight: 300;
}

.image {
  margin-top: 2rem;
  margin-left: 2rem;
  height: 400px;
  border-radius: 0.5rem;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.container:hover .image {
  filter: blur(0);
  -webkit-filter: blur(0);
}

.wrapper {
  overflow-x: hidden;
  max-width: 700px;
  margin: auto;
  margin-top: 3rem;
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-radius: 10px;
  background-color: rgba(155, 115, 116, 0.7);
  color: white;
  transition: all 0.3s ease;
  margin-left: 1rem;
}

.card:hover {
  background-color: rgba(155, 115, 116, 1);
}

.slideImage {
  border-radius: 1rem;
  margin-bottom: 1rem;
  width: 100px;
}

.projects {
  font-size: 3rem;
  text-align: center;
  margin-top: 5rem;
}
